
  <nav class="tabs">
    <a  ui-sref-active="active" ui-sref="update"> Update</a>
    <div ng-controller="AuthController as auth">
      <button ng-if="auth.isAuthenticated()" class="btn btn-primary" ng-click="auth.logout()">Logout</button>
    </div>
  </nav>
  <div id="info" ng-controller="UserController as user">
    <h2>Hello, {{user.user.email}}</h2>
    <h3>You can learn weather by searching a location or get you current location</h3>
    <div id="current-weather" ng-controller="MapController as map">
        <td>{{getCurrentLocation()}}</td>
        <!-- <p> Your Current Location: ({{lat}}, {{lng}})</p> -->
        <div id="map"></div>
        <div class="search">
          <form>
            <input type="text" class="form-control" id="search" placeholder="11 E 26th St, New York, NY 10010">
            <button class="btn btn-primary" ng-click="map.getCoordinates()">Search</button>
          </form>
        </div>
    </div>
        <div ng-controller="WeatherController">
          <button class="btn btn-primary" ng-click="getWeather()">My Location</button>
        </div>
        <div class="weather-block" >
        <p>Current Temperature: </p>
        <p> for {{weather.timezone}} is <strong>{{weather.currently.temperature}} F </strong> and it is {{weather.currently.summary}}</p>

        <p> 3 Day Weather Forecast: </p>
        <p> 1. {{weather.daily.data[0].summary}} And the average temperature will be: <strong>{{weather.daily.data[0].temperatureMax - weather.daily.data[0].temperatureMin | number: 1}} F </strong> </p>
        <p> 2. {{weather.daily.data[1].summary}} And the average temperature will be: <strong>{{weather.daily.data[1].temperatureMax - weather.daily.data[1].temperatureMin | number: 1 }} F </strong> </p>
        <p> 3. {{weather.daily.data[2].summary}} And the average temperature will be: <strong>{{weather.daily.data[2].temperatureMax - weather.daily.data[2].temperatureMin | number: 1 }} F </strong> </p>
      </div>
    </div
